:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button[type="submit"] {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: 0.25s;
}
button[type="submit"]:hover {
  border-color: #646cff;
}
button[type="submit"]:focus,
button[type="submit"]:focus-visible {
  outline: 4px auto;
}

.password-icon{
    position: relative;
    top: -1.5rem;
    font-size: small;
    background-color: transparent;
    justify-self: end;
    border: none;
    cursor: pointer;
}

.error{
    font-size: small;
    color: rgb(249, 91, 91);
    margin-top: 0;
    margin-bottom: 0;
}