.contact {
  margin: 0 auto;
  padding: 40px 20px;
}

.contact-info-form{
    display: flex;
    align-items: center;
    gap: 10rem;
}

.contact section{
  color: white;
  padding: 30px;
  border-radius: 12px;
  margin-bottom: 30px;
}

.contact strong{
    color: rgb(231, 160, 53);
}

.contact form div{
    display: grid;
    gap: .4rem;
    margin-bottom: 1rem;
    text-align: start;
}

.contact form input, .contact form textarea{
    padding: .4rem;
}

.contact form textarea{
    resize: none;
    width: 15rem;
    height: 7rem;
}

.contact form button{
    width: 100%;
}