.alert-login, .login a{
    color: rgb(249, 91, 91);
}

.login{
    display: grid;
    gap: .4rem;
    text-align: start;
}

.login h2{
    text-align: center;
}

.login div{
    display: grid;
    margin-bottom: .4rem;
}

.login input{
    padding: .4rem;
}

.log-button{
    width: 100%;
    margin-top: .4rem;
}