nav{
    display: flex;
    gap: 5rem;
    position: fixed;
    top: 1rem;
    left: 0;
    right: 0;
    justify-content: center;
}

nav div{
    display: flex;
    gap: 1rem;
}

nav a{
    color: white;
    &:hover{
        color: rgb(231, 160, 53);
    }
}