nav{
    display: flex;
    gap: 1rem;
    position: fixed;
    top: 1rem;
    left: 0;
    right: 0;
    justify-content: center;
}

nav a{
    color: white;
    &:hover{
        color: gray;
    }
}