.products{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.categories{
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 2rem;
}

.categories a{
    color: white;
    background-color: rgba(0, 0, 0, 0.207);
    padding: .3rem .5rem;
    border-radius: 1rem;
}