.categories{
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 5rem;
}

.categories a{
    color: white;
    background-color: rgba(0, 0, 0, 0.207);
    padding: .3rem .5rem;
    border-radius: 1rem;
    &:hover{
        color: rgb(231, 160, 53);
    }
}

.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}